.add-product-container {
    width: 25%;
    margin: auto;
    border: 1px solid #ccc;
    padding: 4%;
    margin: 2.7% auto;
}

@media(max-width:500px) {
    .add-product-container {
        width: 90%;
    }
}